@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<p>

    My E-Recipe is designed for your convenience. Log in or create a new user in order to get started. Create, save, store, or view previously saved

    recipes! Store all your family secret receipes safely forever! No more writting recipes on paper and loosing those gold recipes! Quick and easy

    to use, sign in or create a new username to get started!

</p>



<p><a asp-controller="Home" asp-action="Index">Home</a></p>
