@model List<ERecipeBookMVC.Models.RecipeCategory>
@{
    ViewData["Title"] = "Index";
}

<h2>Recipe Categories</h2>

<ul>

    @foreach (var recipeCategory in Model)
    {

        <li>@recipeCategory.Name</li>

    }

</ul>

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
